<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AccountingApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> 🛒 Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-customers-ledger">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> 📒 All Ledgers
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="income">
                <span class="bi bi-cash-coin-nav-menu" aria-hidden="true"></span> 💰 Income
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="suppliers">
                <span class="bi bi-truck-nav-menu" aria-hidden="true"></span> 🚚 Suppliers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses">
                <span class="bi bi-wallet2-nav-menu" aria-hidden="true"></span> 💸 Expenses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-suppliers-ledger">
                <span class="bi bi-journal-text" aria-hidden="true"></span> 📒 All Suppliers Ledger
            </NavLink>
        </div>
    </nav>
</div>

